<div class="container">
    <form action="/post/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Confirm deletion"><br><br>
  <!-- <h1>Your post has been deleted.</h1> -->
</div>

