<div class="container">
  <h1>Edit your post</h1>
    <form action="/post/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="PUT" />
    Blog Title:
    </br></br><input type="text" class="fixwidth" placeholder="Blog Title" name="post[title]" value="<%= @post.title %>">
    </br></br></br></br>
    Blog Post:
    </br></br><input type="text" id="blogpost" class="fixwidth" placeholder="What quirky thing happened in your life today?" name="post[body]" value="<%= @post.body %>">
    </br></br>
    <label for="post_tags">Tags:</label>
    <input id="post_tags" name="tag[name]" placeholder="insert tags here" value="<%= @tag_names[0..-3] %>" >
    <input type="submit" value="Update"><br><br>
  </form>
</div>

